<section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>

            <%= form_for :user, url: "/users", class: "signupForm px-md-2" do |f| %>
              <div class="form-outline mb-4">
                <%= f.label :email, "Email Address" %>
                <%= f.text_field :email, class: "shortInput form-control" %> <br />
                
                <%= f.label :password %>
                <%= f.password_field :password, class: "shortInput form-control" %> <br />
                
                <%= f.label :password_confirmation, "Confirm Password" %>
                <%= f.password_field :password_confirmation, class: "shortInput form-control" %> <br />
              </div>
                <%= f.submit "Create User", class: "button createAccount" %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>